html {
    background-color:#F6F6F6;
}

body {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    background-color:#F6F6F0;
            <!-- border-style: solid;
            border-width: 10px;
            border-color: blue;-->
}

#ruta1 {
    padding: 12px;
    font-family: sans-serif;
    font-size: 14pt;
}

#header {
    
}
#header_image {
    width: 100%;

}

#slider {
    height: 150px;
    border-bottom-style: solid;
    border-bottom-width: 7px;
    border-bottom-color: black;
}

#bild1  {
        
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
        border-style: solid;
        border-left: 0px;
        
        width: 33%;
        height:150px; 
        float:left;
}

#bild2 {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-right: 0px;
    border-style: solid;
        float:right;
        width:33%;
        height:150px;
}

#bild3 {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    
    float:right;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width:34%;
    min-width: inherit;
    
    height:150px;
}

#kossa {
    width: 100%;
    height: inherit;
}
#kyrka {
    width:100%;
    height: inherit;
    
}
#blomma {
    width: 100%;
    height: inherit;
}



 
.pushmenu {
        background: #3c3933;
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
        width: 240px;
        height: 100%;
        top: 0;
        z-index: 1000;
}
 
.pushmenu h3 {
        color: #cbbfad;
        font-size: 14px;
        font-weight: bold;
        padding: 15px 20px;
        margin: 0;
        background: #282522;    
        height: 16px;
}
 
.pushmenu a {
        display: block;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        border-top: 1px solid #57544e;
        border-bottom: 1px solid #312e2a;
        padding: 14px;
}
 
.pushmenu a:hover {
        background:258ecd;      
}
 
.pushmenu a:active {
        background: #454f5c;
        color: #fff;    
}
 
.pushmenu-left {
        left: -240px;   
}
 
.pushmenu-left.pushmenu-open {
        left: 0px;      
}
 
.pushmenu-push {
        overflow-x: hidden;
        position: relative;
        left: 0;        
}
 
.pushmenu-push-toright {
        left: 240px;    
}
 
/*Transition*/
.pushmenu, .pushmenu-push {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;      
}
 
#nav_list {
        background: url(icon_nav.png) no-repeat left top;
        cursor: pointer;
      
        height: 27px;
        width: 33px;
        text-indent: -99999em;  
}
 
#nav_list.active {
        background-position: -33px top; 
}
 
.buttonset {
        background: linear-gradient(center top , #6b85b3, #334d86);
        background:-moz-linear-gradient(center top , #6b85b3, #334d86);
    background: -webkit-gradient(linear, center top, center bottom, from(#FF69b4), to(#FFFFFF));
        height: 16px;
        padding: 10px 20px 20px;
}
 
section.content {
        font-family: Arial, Helvetica, sans-serif;
        padding: 3px 0px;     
}

