html {
    background-color:#F6F6F6;
}

body {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    background-color:#F6F6F0;
            <!-- border-style: solid;
            border-width: 10px;
            border-color: blue;-->
}

#ruta1 {
    padding: 16px;
    font-family: sans-serif;
    font-size: 14pt;
}

#header {
    height:230px;
        background:url("haradsvagen.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size:100% 100%;
    
}

#ruta2{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

#slider {
    height: 150px;
    border-bottom-style: solid;
    border-bottom-width: 7px;
    border-bottom-color: black;
}

#bild1  {
        
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
        border-style: solid;
        border-left: 0px;
        
        width: 33%;
        height:150px; 
        float:left;
}

#bild2 {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-right: 0px;
    border-style: solid;
        float:right;
        width:33%;
        height:150px;
}

#bild3 {
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
    
    float:right;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width:34%;
    min-width: inherit;
    
    height:150px;
}

#kossa {
    width: 100%;
    height: inherit;
}
#kyrka {
    width:100%;
    height: inherit;
    
}
#blomma {
    width: 100%;
    height: inherit;
}

